<div class="body_form">
  <div class="basic_form">
    <h1>Create your team</h1>
      <%= simple_form_for(@team) do |f|%>
      <%= f.input :name, input_html: { class: 'input' } %>
      <%= f.input :league_link, input_html: { class: 'input' } %>
      <%= f.submit "Create team!", class: "btn btn-block submit_button" %>
      <% end %>
  </div>
</div>

