
  <%= image_tag "ringr_footy.png", alt: "alttext", :class => "football-background" %>
  <h1 class="text-center pt-2"> <%= @team.name %></h1>
  <%= link_to "Create a game", new_team_game_path(@team)  %>

