// Define variables for your color scheme

// Ringr colour scheme:
$pink-orange: #FE9A51;
$tumbleweed: #F1AB86;
$wheat: #F6D8AE;
$seashell: #FCEFEF;
$june-bud: #a1c932;
$linen: #FCEBEA;
$silk: #FFD9CE;
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$ringr-green: #a1c932;
$gray: #2F4F4F;
$light-gray: #F4F4F4;
$apricot: #F2C078;
$sky-blue: #DAF5FF;
$off-white: #f9f9f9;
$pale-orange: #FEDABF;
$peach: #FEC7A0;


