#games-search-bar {
  color: black;
  border-radius: 19px/50%;
  width: 70%;
  height: 40px;
  letter-spacing: 1px;
}

.game-form {
  padding-top: 12px;
  margin-left: 16px;
  text-align: center;
}

.wrapping_games {
  display: flex;
  margin: 16px auto;
  align-items: flex-start;
}

.w70 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
}

#card-link {
  color: $gray;
}

#card-link:hover {
  text-decoration: none;
}

#sport-logo-small {
  height: 32px;
  width: auto;
  padding: 4px 4px 0px 4px;
}

// .team-font {
//   font-family: $cards-font;
//   font-weight: lighter;
// }

.ghost-hover {
  background-color: $green;
}

