// Specific CSS for your home-page
.page-container {
  position: relative;
  min-height: 100vh;
  margin: 0 50px;
}

.full-page-cont {
  min-height: 100vh;
}

#sport-logo {
  max-height: 170px;
  max-width: 170px;
  width: 100%;
  padding: 8px 16px;
  margin-bottom: 16px;
  // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  // background: #FCEBEA;
  cursor: pointer;
  border-radius: 8%;
}

#sport-logo:hover {
  background-color: $pink-orange;
}

#sport-logo:visited {
  background-color: yellow;
}

#check_boxes:checked {
    background-color: red !important;
}

// #filter_sports_football:focus img{
//   background-color: red !important;
// }

// #filter_sports_football:focus {
//   background-color: $pink-orange;
// }

.logo-div {
  padding: 10px 20px;
}

.logo-container {
  padding-top: 20px;
  display: flex;
  height: 100vh;
  width: 50%;
  // flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-right: 1px solid $pink-orange;
}

.text-container {
  margin: 20px 20px;
}

.header-text {
  font-weight: bolder;
  font-size: 64px;
}

.sub-header-text {
  font-size: 32px;
  font-family: $body-font;
  font-weight: lighter;
}

.play-header-text {
  font-size: 56px;
  font-family: $cards-font;
  font-weight: lighter;
}

#lets-play-btn {
  align-item: center;
}

.info-cards {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  background-color: $silk;
  padding: 50px 50px;
  margin-bottom: 26px;
  align-items: center;
  // margin-right: 52px;
}

.home-page-card {
  font-weight: lighter;
  flex-grow: 1;
  border-right: 1px $june-bud solid;
  border-left: 1px $june-bud solid;
  background: $silk;
  padding: 24px 24px;
  height: 540px;
  width: 100%;
  text-align: center;
}

.style-image {
  width: 100%;
  height: auto;
  overflow: hidden;
  opacity: 0.8;
}

#cricket-image {
  width: auto;
  height: 70%;
  overflow: hidden;
  opacity: 0.8;
}

#green {
  color: #a1c932;
}

.form-check-input {
  display: none;

  &.active {
    ~ label {
        img {
          background-color: $pink-orange;
      }
    }
  }
}

.bottom-third {
  display: flex;
  flex-direction: row;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
  width: 50%;
}

.form-check-label {
  transition: 0.3s ease;
}

.form-check-label:hover {
  transform: scale(1.1);
}

.filter_sports {
  text-align: center;
}
