// Specific CSS for your home-page
.page-container {
  position: relative;
  min-height: 100vh;
  margin: 0 50px;
}

#sport-logo {
  max-height: 160px;
  max-width: 160px;
  width: 100%;
  padding: 2px 16px;
}

.logo-div {
  padding: 10px 20px;
}

.logo-container {
  display: flex;
  flex-direction: row;
}

