// Specific CSS for your home-page
.page-container {
  position: relative;
  min-height: 100vh;
  margin: 0 50px;
}

#sport-logo {
  max-height: 170px;
  max-width: 170px;
  width: 100%;
  padding: 2px 16px;
}

.logo-div {
  padding: 10px 20px;
}

.logo-container {
  display: flex;
  // flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.text-container {
  margin: 20px 20px;
}

.header-text {
  font-weight: bolder;
  font-size: 64px;
}

.sub-header-text {
  font-size: 32px;
  font-family: $body-font;
  font-weight: lighter;
}

#lets-play-btn {
  align-item: center;
}

.home-page-card {
  border: 1px solid black;
  padding: 12px 12px;
  height: 400px;
  width: 300px;
}

.info-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 20px;
  align-items: center;
  margin-right: 52px;
}
