.items {
  display:flex;
}

.card {
  margin: 8px;
  box-shadow: 0px 0px 5px 0px #e4e2e2;
}

.profile-page-layout {
  display: flex;
  .profile-info-div {
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    margin: 0 40px;

    width: 300px;
    img {
      height: 200px;
      object-fit: cover;
      border-radius: 50%;
      padding: 8px;
      width: 200px;
    }
    .profile-info-details {
      padding: 8px;
      text-align: center;
    }
  }
}

.profile-card-body {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    width: 100%;
}




.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: $sky-blue;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: $tumbleweed;
  color: white;
  transform: rotateY(180deg);
}
