.items {
  display:flex;
}

.empty-card {
  width: 250px;
  height: 200px;
  margin: 8px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 8px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
 background-color: $pink-orange;
}

.profile-nav-link {
  &:hover {
    background-color: #ffd3b3;
  }
}

.nav-pills a {
  color: #2F4F4F;
}

.profile-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  height: calc(100vh - 80px);
  margin-right: 20px;

  .profile-info-details {
    display: flex;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 4px;

    img {
      object-fit: cover;
      width: 160px;
      height: 160px;
      border-radius: 50%;
    }

    .user-info {

      h2 {
        margin: 0;
        font-size: 26px;
      }

      p {
        margin-bottom: 0px;

        i.label {
          margin-right: 6px;
          font-style: normal;
          text-transform: uppercase;
          font-size: 10px;
          opacity: 0.8;
        }
      }

      p.user-descriptions {
        font-size: 14px;
        margin-top: 12px;
      }
    }
  }
}
.profile-page-layout {
  display: flex;
  .profile-info-div {
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-right: solid 1px lightgray;
    width: 330px;
    margin-left: 20px;
    margin-top: 24px;
    padding-right: 20px;
    img {
      height: 200px;
      width: 100%;
      object-fit: cover;
      border-radius: 15px;
      background: white;
      border: solid 1px #FE9A51;
    }
  }
  #profile-pic-name {
    h1 {
      margin: auto;
      text-align: center;
      margin-top: 8px;
    }
    padding-bottom: 16px;
    margin-bottom: 8px;
    border-bottom: 2px solid #FE9a51;
  }
}

.profile-card-body {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    // -webkit-box-align: center;
    // align-items: center;
    // text-align: center;
    width: 250px;
    background-color: #f9f9f9;
    color: $gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
}

.profile-card-body a {
  color: inherit;
  font-family: $cards-font;
}

.profile-card-body h3 {
  font-size: 1.25rem;
}


.flip-card {
  background-color: transparent;
  width: 250px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: 8px;
  color: inherit;
  font-family: "Londrina Solid", "cursive";
  border-radius: 8px;

}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 8px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.1);

}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;

}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #f9f9f9;
  color: $gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;

}

.flip-card-front h2 {
  font-family: $cards-font;
}
/* Style the back side */
.flip-card-back {
  background-color: #f9f9f9;
  color: $gray;
  border-radius: 8px;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  h4 {
    font-family: "Londrina Solid", "cursive";
  }
}

.my-teams-container {
  flex-direction: column;
}

.my-teams-container h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: $headers-font;
  font-size: 16px;
}

.my-teams-container h4:after, .my-teams-container h4:before {
  content: '';
  width: 300px;
  height: 2px;
  background: $tumbleweed;
  margin: 0 10px;
}
.your-team-cards {
    // display: flex;
    // justify-content: center;
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
}

.team-button-create {
    // display: flex;
    // justify-content: center;
    margin: 40px 0;
    display: flex;
    justify-content: center;
}


.your-team-heading {
  font-size: 18px;
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 8px;
}

#game-details-btn {
  color: #FE9A51;
}

.accept-reject {
  display: flex;
  flex-direction: row;
  a {
    padding-right: 10px;
  }
}

