.show-card {
  color: black;
  background-color: $off-white;
  margin: 18px 24px;
  display: flex;
  flex-wrap: wrap;
  padding: 12px 12px;
  border-radius: 8px;
  justify-content: space-between;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.show-card-left {
  width: 50%;
  padding: 8px 8px;
  border-right: 1px solid $terracotta;
  text-align: center;
  font-family: Poppins;
  font-weight: lighter;
}

.show-card-right {
  font-family: Poppins;
  font-weight: lighter;
  width: 50%;
  padding: 8px 16px 0 16px;
  text-align: center;
}

.show-card-bottom {
  margin-top: 18px;
  height: 60px;
  width: 100%;
  align-self: flex-end;
  align-items: center;
}

.show-card-left-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.middle-div {
  padding-top: 8px;
  border-top: 1px $terracotta dotted;
  border-bottom: 1px $terracotta dotted;
}

.bottom-div {
  padding-top: 8px;
}

#request-button {
  color: $white;
  background-color: $green;
  padding: 16px 14px;
  text-align: center;
  width: 100%;
  text-decoration: none;
}

#request-button:hover {
  text-decoration: none;
  background-color: $white;
  color: $green;
}

.show-team-font {
  font-family: $cards-font;
  font-weight: lighter;
  font-size: 36px;
  color: $terracotta;
}

.show-team-font:hover {
  font-family: $cards-font;
  font-weight: lighter;
  font-size: 36px;
  color: $green;
}



