.football-background {
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  height: auto;
  width: 100vw;
  opacity: 0.1;
}

.team-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: black;
}

.team-card {
  text-align: center;
  padding-top: 40px;
}

#sport-logo-small {
  height: 30px;
  width: auto;
}
