.football-background {
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  height: auto;
  width: 100vw;
  opacity: 0.1;
}

.team-container {
  height: 90vh;
  text-align: center;
  color: black;
}

.team-card {
  background-color: $sky-blue;
  border: 1px green solid;
  width: 90vw;
  margin: 24px auto;
  text-align: center;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
}

.team-card-top {
  width: 100%;
  // padding-left: 6px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 1;
  border-bottom: 1px solid $pink-orange;
}

.team-card-left {
  width: 50%;
  padding: 8px 16px;
  border-right: 1px solid $tumbleweed;
  text-align: center;
}

.team-card-right {
  width: 50%;
  padding: 8px 16px;
  text-align: center;
}

#sport-logo-medium {
  height: 80px;
  width: auto;
  padding: 0 18px 0 18px;
}

#join-button {
  color: $white;
  background-color: $pink-orange;
  padding: 16px 14px;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
}

#join-button-sweet {
  color: $white;
  background-color: $pink-orange;
  padding: 16px 14px;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
}

#join-button:hover {
  text-decoration: none;
  background-color: $white;
  color: $pink-orange;
}
