<div class="ringr-footer">
  <div>
  <h2 class="navbar-font">Ringr</h2>
  </div>
  <div>
  <i class="fab fa-facebook-square" id="social-icons"></i>
  <i class="fab fa-twitter-square" id="social-icons"></i>
  <i class="fab fa-instagram" id="social-icons"></i>
  </div>
</div>
