<div class="ringr-footer">
  <div>
  <%= image_tag "ringr_navbar.png", id: "logo-brand" %>
  </div>
  <div>
  <i class="fab fa-facebook-square" id="social-icons"></i>
  <i class="fab fa-twitter-square" id="social-icons"></i>
  <i class="fab fa-instagram" id="social-icons"></i>
  </div>
</div>
