.background-banner {
  display: flex;
  margin-left: 16px;
}

.main-info {
  width: 50%;
}

.background-collage {
  width: 50%;
  // height: calc(0.5857452966714907 * 50vw);
  height: 100vh;
  background-size: cover;
}


