.navbar-lewagon {
  justify-content: space-between;
  background: $seashell;
  transition: 0.5s background-color ease;
  z-index: 2;
  position: sticky;
  top: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item:hover {
  // background-color: white;
  background-color: $wheat;
}

.hover-effect {
  position: relative;
  top: 0;
  height: 60px;
  padding-top: 10px;
}

.navbar {
  padding: 0;
}

.navbar-brand {
  padding: 0.5rem 1rem;
}
