.profile-page-layout {
  display: flex;
  .profile-info-div {
    display: flex;
    flex-direction: column;
    padding-right: 8px;
    border-right: solid 2px gray;
    width: 300px;
    img {
      height: 400px;
      object-fit: cover;
      border-radius: 2px;
      padding: 8px;
      background: white;
      border: solid 2px lightgray;
    }
    .profile-info-details {
      height: 200px;
      padding: 8px;
      text-align: center;
    }
  }
}

